# Copyright (c) 2026 Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_LS2K300
	bool

config SOC_FAMILY
	default "ls2k300" if SOC_FAMILY_LS2K300

rsource "*/Kconfig.soc"
