# Copyright (c) 2026 Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config SOC_LS2K0300
	bool
	# The LA264 core of the 2K0300 has a double precision FPU
	select CPU_HAS_FPU_DOUBLE_PRECISION
